<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout :: head"></head>
<body>
<nav th:replace="/layout/layout :: nav">
</nav>
  <div class="container">
    <a th:href="@{/}">Volver</a>
    <div class="card col-6 offset-3 mt-5">
      <div class="card-title">
          <h4 class = "p-2" th:text="${cliente.nombre}"></h4>
      </div>
      <div class="card-body">
        <h6>Dni: <span th:text="${cliente.dni}"></span></h6>
        <h2 class="p-5 text-center">Saldo: <span th:text="${cliente.saldo}"></span> dólares</h2>
        <div>
          <a th:href="@{/movimiento/} + ${cliente.dni}">Movimiento</a>
          <a th:href="@{/baja/} + ${cliente.dni}">Darme de Baja</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>