<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout :: head"></head>
<body>
    <nav th:replace="/layout/layout :: nav">
    </nav>
    <div class="container">
        <div class="text-center mt-5">
            <form th:action="@{/busqueda}" method="get">
                <input type="text" th:name="dni" placeholder="DNI" required pattern="[0-9]+">
                <input type="submit" value="Buscar">
            </form>
            <div class="alert mt-3" th:classappend="${condicion} == 1 ? 'alert-success' : 'alert-danger'" role="alert" th:if ="${msj}" th:text ="${msj}">
            </div>
        </div>
    </div>
</body>
</html>